# Operating system files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Node modules
node_modules/

# Python files
__pycache__/
*.pyc

# Environment variables
.env

# Logs
*.log

# Build files
dist/
build/
